:root {
	--bg: #242526;
	--bg-accent: #484a4d;
	--text-color: #dadce1;
	--nav-size: 60px;
	--border: 1px solid #474a4d;
	--border-radius: 8px;
	--speed: 500ms;
}

.dropdown {
	&__list {
		position: absolute;
		top: 140px;
		right: 150px;
		width: 300px;
		max-height: 300px;
		overflow-y: scroll;
		transform: translateX(-45%);
		background-color: var(--bg);
		border: var(--border);
		border-radius: var(--border-radius);
		padding: 1rem;
		margin-right: 20px;
		transition: height var(--speed) ease;
	}

	&__item {
		cursor: pointer;
		color: var(--text-color);
		padding: 10px 20px;

		&:hover {
			border-radius: calc(var(--border-radius) - 3px);
			background-color: var(--bg-accent);
		}

		&--selected {
			border-radius: calc(var(--border-radius) - 3px);
			background-color: var(--bg-accent);
		}
	}
}
