.work {
	cursor: pointer;
	position: relative;

	&:hover .work__overlay {
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	&:hover .work__content {
		display: flex;
	}

	&__content {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
	}

	&__overlay {
		display: none;
		background-color: rgba(0, 0, 0, 0.7);
	}

	&__image {
		z-index: -1;
	}
}
