@import 'base/animations';

@import 'components/work';
@import 'components/bubble';
@import 'components/review';
@import 'components/slider';
@import 'components/button';
@import 'components/tooltip';
@import 'components/dropdown';

.button {
	&:hover {
		background-image: linear-gradient(91.32deg, #ffb800 0%, #ff8383 92.68%);
		border-color: #ff8383;
		color: #707070;
	}
}
