.animation-underline {
	display: inline-block;
	position: relative;
	background: linear-gradient(91.32deg, #ffc700 0%, #ff9283 92.68%) 0 100%, linear-gradient(91.32deg, #ffc700 0%, #ff9283 92.68%) 0 100%,
		linear-gradient(91.32deg, #ff9283 0%, #ffc700 92.68%) 100% 100%, linear-gradient(91.32deg, #ffc700 0%, #ff9283 92.68%) 100% 100%;
	background-size: var(--p, 50%) 3px, 3px var(--d, 0);
	background-repeat: no-repeat;
	transition: 0.5s;

	&::before {
		content: '';
		display: inline-block;
		position: absolute;
		width: 100%;
		height: 3px;
		top: 0;
		left: 0;
		opacity: 0;
		background: linear-gradient(91.32deg, #ff9283 0%, #ffc700 92.68%) 100% 100%,
			linear-gradient(91.32deg, #ffc700 0%, #ff9283 92.68%) 100% 100%;
		transition: 0.5s;
	}

	&::after {
		content: '';
		display: inline-block;
		position: absolute;
		width: 0%;
		height: 3px;
		bottom: 0;
		right: 0;
		opacity: 0;
		background: linear-gradient(91.32deg, #ff9283 0%, #ffc700 92.68%) 100% 100%,
			linear-gradient(91.32deg, #ffc700 0%, #ff9283 92.68%) 100% 100%;
		transition: 0.5s;
	}

	&:hover {
		--d: 100%;
		--p: 0%;

		&::before {
			opacity: 100;
		}

		&::after {
			width: 100%;
			opacity: 100;
		}

		margin-top: 5px;
	}
}
